:root {
  --color-primary: #00a19e;
  --color-secondary: #3373b0;
  --color-accent: #bed4e9;
  --color-black: #000;
  --color-white: #fff;
}

.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 30px 8px gray;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.loginForm input {
  padding: 8px 15px;
  font-size: 18px;
  border-radius: 5px;
  outline: 2px solid gray;
  margin-bottom: 8px;
  margin-top: 15px;
  border: none;
  width: 100%;
}

.loginForm input[type="submit"] {
  outline: none;
  background-color: var(--color-primary);
  color: var(--color-accent);
  border: 2px solid transparent;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-accent);
    border: 2px solid var(--color-primary);
  }
}

.wrapper fieldset {
  border-radius: 8px;
  border: 2px solid #058c96;
}

.wrapper legend {
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  padding-inline: 10px;
  border-left: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  border-radius: 10px;
  color: var(--color-primary);
}

.loginForm .error {
  outline: 2px solid red;
  &.span {
    outline: none;
    color: red;
    font-weight: 600;
    font-size: 12px;
  }
}

.loginForm .signUpText {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  a {
    font-weight: 600;
    color: var(--color-primary);
    text-decoration: none;
  }
}

.socialBtns {
  position: relative;
  margin-top: 30px;
  padding: 15px;
  padding-top: 0;
  div {
    cursor: pointer;
  }
}
.socialBtns::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(128, 128, 128, 0) 0%,
    rgba(128, 128, 128, 1) 20%,
    rgba(128, 128, 128, 1) 80%,
    rgba(128, 128, 128, 0) 100%
  );

  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}

.socialBtns::after {
  position: absolute;
  content: "or";
  top: -30px;
  left: 50%;
  background-color: #fff;
  padding: 0 5px;
  font-size: 20px;
  transform: translateX(-50%);
}

.socialBtns .googleBtn,
.socialBtns .githubBtn {
  border: 2px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
  button {
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary);
    background: transparent;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--color-primary);
  }
}

.socialBtns .githubBtn {
  margin-top: 15px;
}

@media (max-width: 991.98px) {
  .wrapper {
    width: 80%;
  }

  .socialBtns .googleBtn,
  .socialBtns .githubBtn {
    padding: 10px;
  }
}
@media (max-width: 767.98px) {
  .wrapper {
    width: 90%;
    padding: 10px;
  }
  fieldset {
    width: 100%;
  }
}
