.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-right {
  width: 50%;
  img {
    width: 100%;
    border-radius: 16px;
  }
}

.header {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-block: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.headerListItem.active {
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
  line-height: 24px;
}

.headerBtn {
  display: flex;
  gap: 10px;
  background: linear-gradient(
    90deg,
    rgba(0, 83, 81, 1) 0%,
    rgba(21, 140, 139, 1) 100%
  );

  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.headerSearch {
  height: 30px;
  border: 3px solid #084e4d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
  background-color: #fff;
}

.headerIcon {
  color: gray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  .headerBtn {
    padding: 8px 20px;
  }
}

.smallDevicesSearchButton {
  display: none;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: gray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #084e4d;
  color: #084e4d;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 991.98px) {
  .hero {
    padding-inline: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  .hero {
    padding-inline: 16px;
  }
  .headerList {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .headerSearch {
    display: block;
    position: static;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    width: 90%;
    position: relative;
  }
  .headerSearchItem {
    margin-block: 16px;
  }
  .smallDevicesSearchButton {
    display: block;
    margin-left: auto;
  }
  .largeDeviceSearchButton {
    display: none;
  }
}
